extends drshine_layout

block content
    div.container-fluid
        div.row.title
            center
                h1 光澤診所||台北忠孝 
                h1 「計算你的BMI體質」
                
                
                div.facebook_login_place
                    p #請使用Facebook帳號登入
                    p(id='status')
                    img.facebook_login_place.img_response(id="FB_LoginButton",src="http://de2p6bf9wvuml.cloudfront.net/members/images/connect-facebook-button.png",style="display:none",onclick=
                    'loginFB()')
                    br
                    //-div(class="fb-like" data-href="https://www.facebook.com/drshineTTP/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true" data-colorscheme="dark")
                    
                script(src="/javascripts/FacebookLogin.js")
                